<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %> alert-dismissible fade show border border-danger" role="alert">
    <ul>
      <% msg.split(', ').each do |error_message| %>
        <li><%= error_message %></li>
      <% end %>
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
