<section class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">MatchPlay</h1>
            <p class="lead">忙しい社会人でも気軽に仲間を募集できるマッチアプリ</p>
            <p>ランクマッチからカジュアルなプレイまで、あなたのスタイルに合ったプレイヤーを見つけることができます。</p>
        </div>
        <div class="col-md-6">
            <%= image_tag 'image1.png', class: 'img-fluid custom-border rounded' %>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <h2>使い方</h2>
            <ol>
                <li>アカウントを作成し、プロフィールを設定します。</li>
                <li>プレイスタイルや興味に合ったマッチング設定を行います。</li>
                <li>仲間を探してマッチングし、一緒にゲームを楽しんでください。</li>
            </ol>
            <p class="mt-3">※ゲストアカウントはログアウト時にアカウントが削除されます。</p>
            <%= link_to 'ゲストログイン', guest_login_path, method: :post, class: "btn btn-secondary" %>
            <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary" %>
        </div>
        <div class="col-md-6">
            <%= image_tag 'image2.png', class: 'img-fluid custom-border rounded' %>
        </div>
    </div>
</section>
