<section class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">MatchPlay</h1>
            <p class="lead">忙しい社会人でも気軽に仲間を募集できるマッチアプリ</p>
            <p>ランクマッチからカジュアルなプレイまで、あなたのスタイルに合ったプレイヤーを見つけることができます。</p>
        </div>
        <div class="col-md-6">
            <%= image_tag 'image1.png' %>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <h2>使い方</h2>
            <ol>
                <li>アカウントを作成し、プロフィールを設定します。</li>
                <li>プレイスタイルや興味に合ったマッチング設定を行います。</li>
                <li>仲間を探してマッチングし、一緒にゲームを楽しんでください。</li>
            </ol>
        </div>
        <div class="col-md-6">
            <img src="your-other-image.jpg" alt="MatchPlayアプリの使い方" class="img-fluid">
        </div>
    </div>
</section>
