
/* 他のスタイルの読み込み */
@import "pagy";
@import "scroll";

/* Google Fontsの読み込み */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');

/* ページ全体のフォントファミリーを設定 */
body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: #6c757d29;
}

/* Aboutの画像の枠線 */
.custom-border {
  border: 1px solid #000;
}

/* チャット欄の高さの設定 */
.chat-container {
  min-height: 270px;
  max-height: 270px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse; 
}

/* アイコンのサイズ調整 */
.icon-small {
  width: 100px;
  height: 100px;
  object-fit: contain; /* 画像の比率を保ちながら枠内に収める */
}

/* ドロップダウンメニューのスタイル設定 */
.dropdown-toggle::after {
  border-top-color: #ffffff; /* ドロップダウン矢印の色設定 */
}

.bg-dark {
  color: #ffffff;
  border-radius: 5px;
}

/* ダークボタンのスタイル設定 */
.btn-dark {
  background-color: #000000; /* 背景色設定 */
  border: none; /* ボーダーをなしに設定 */
  cursor: pointer;
}

/* ダークボタンのホバースタイル設定 */
.btn-dark:hover {
  text-decoration: underline; /* カーソルがボタンに合った際に下線を表示 */
  color: #44d62c; /* ホバー時の文字色設定 */
  background-color: #000000; /* ホバー時の背景色設定 */
}

/* リンクボタンのスタイル設定 */
.btn-link {
    --bs-btn-color: #fff; /* ボタンのテキストカラー設定 */
    --bs-btn-hover-color: #fff; /* ホバー時のテキストカラー設定 */
    --bs-btn-active-color: #fff; /* アクティブ時のテキストカラー設定 */
}

/* メディアクエリ: タブレット以下の画面幅に対するスタイル設定 */
@media (max-width: 992px) {

  .navbar-nav .nav-item .btn {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }

  .navbar .dropdown {
    position: static; /* ドロップダウンメニューの位置を静的に設定 */
  }

  .navbar-toggler {
    border-color: white; /* ナビゲーションのトグルボタンのボーダーカラー設定 */
  }

  /* ナビゲーションのトグルボタンのアイコンをカスタム画像に設定 */
  .navbar-toggler-icon-custom {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  /* ドロップダウンメニューの項目に関するスタイル */
  .dropdown-item {
    word-wrap: break-word;
    white-space: normal;
    padding: .25rem 1.5rem;
  }

  /* ドロップダウンメニュー自体のスタイル */
  .dropdown-menu {
    min-width: 100%; /* メニューが親要素の幅いっぱいに広がるようにする */
  }
}

/* Bootstrapのlgブレークポイント以上の幅であれば */
@media (min-width: 992px) {
  .footerFixed {
    min-height: 100vh; /* コンテンツの高さの最小値＝ブラウザの高さ */
    position: relative; /* 相対位置 */
    box-sizing: border-box;
    padding-bottom: 50px;
  }

  footer {
    background: #000000;
    color: #ffffff;
    width: 100%;
    position: absolute; /* 絶対位置 */
    bottom: 0;
    height: 50px;
  }
}
