<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="display-6 text-center mb-4">ブロックしているユーザー</h1>
      <ul class="list-group">
        <% @blocked_users.each do |blocked_user| %>
          <li class="list-group-item">
            <%= link_to blocked_user.name, user_path(blocked_user) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

